# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


mysql://
bb537b1adcb384
:
2e0107bd
@
eu-cdbr-west-03.cleardb.net
/heroku_21157b9ed42f375?reconnect=true
host: crm-01.herokuapp.com