.App {
  text-align: center;
}

.title {
  text-align: start;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
#recharts7-clip {
  position: absolute;
  align-content: flex-start;
}

.recharts-layer recharts-bar-rectangle {
  fill: #86BBD8;
}

.recharts-wrapper {
  margin-top: 40px;
  margin-right: 5px;
}

#home {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}